<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.community.repositories.BoardInfoMapper">

    <!-- 게시글의 타입으로 아이디를 조회 -->
    <select id="getBoardInfoId" resultType="java.lang.Integer">
        SELECT board_info_id
        FROM  board_info
        WHERE type = #{type}
    </select>

</mapper>
