<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.community.repositories.BoardMapper">

    <!-- 검색 조건에 맞는 게시글을 페이지네이션 적용하여 조회-->
    <select id="getBoardList" resultType="BoardResponseDto">
        SELECT b.board_id,
        b.title,
        b.content,
        b.views,
        b.status,
        b.answer,
        b.created_at,
        c.name AS categoryName,
        u.name AS writer
        FROM board b
        JOIN board_info bi
            ON b.board_info_id = bi.board_info_id
        JOIN user u
            ON u.user_id = b.user_id
        JOIN category c
            ON c.category_id = b.category_id
        <where>
            <if test="type != null and type != ''">
                AND bi.type = #{type}
            </if>
            <if test="startDate != null and startDate != ''">
                <![CDATA[
                AND DATE(b.created_at) >= DATE(#{startDate})
                ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                <![CDATA[
                AND DATE(b.created_at) <= DATE(#{endDate})
                ]]>
            </if>
            <if test="category != null and category != ''
            and category != 'all'">
                AND b.category_id = #{category}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (
                <if test="type != 'notice'">
                    u.name LIKE CONCAT('%', #{keyword}, '%') OR
                </if>
                b.title LIKE CONCAT('%', #{keyword}, '%') OR
                b.content LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
        </where>
        <!-- 순서 -->
        <if test="orderOption != null and orderOption != ''">
            ORDER BY #{orderOption}
        </if>
        <if test="orderOption == null or orderOption == ''">
            ORDER BY b.created_at
        </if>
        <if test="sort != null and sort != ''">
            #{sort}
        </if>
        <if test="sort == null or sort == ''">
            DESC
        </if>
        <!-- 페이지네이션 -->
        LIMIT #{pageSize} OFFSET #{offSet}
    </select>

    <!-- 검색 조건을 적용하여 게시글의 총 개수를 조회 -->
    <select id="getTotalBoardCount" resultType="java.lang.Integer">
        SELECT COUNT(*) as totalBoardCount
        FROM board AS b
        JOIN board_info bi
            ON bi.board_info_id = b.board_info_id
        JOIN user u
            ON u.user_id = b.user_id
        <where>
            <if test="type != null and type != ''">
                AND bi.type = #{type}
            </if>
            <if test="startDate != null and startDate != ''">
                <![CDATA[
                AND DATE(b.created_at) >= DATE(#{startDate})
                ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                <![CDATA[
                AND DATE(b.created_at) <= DATE(#{endDate})
                ]]>
            </if>
            <if test="category != null and category != ''
            and category != 'all'">
                AND b.category_id = #{category}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (
                <if test="type != 'notice'">
                    u.name LIKE CONCAT('%', #{keyword}, '%') OR
                </if>
                b.title LIKE CONCAT('%', #{keyword}, '%') OR
                b.content LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
        </where>
    </select>

    <!-- 알림글만 가져오는  메서드 -->
    <select id="getNotificationList" resultType="BoardResponseDto">
        SELECT b.board_id,
               b.title,
               b.content,
               b.views,
               b.status,
               b.created_at,
               u.name AS writer
        FROM board b
                 JOIN user u
                      ON u.user_id = b.user_id
        WHERE b.status = "notification"
        ORDER BY b.created_at DESC
        LIMIT 5
    </select>
</mapper>
