<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.communityuser.repositories.FreeBoardMapper">

    <!-- 게시글을 저장-->
    <insert id="postFreeBoard" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board(
                          title,
                          content,
                          category_id,
                          type,
                          user_id
                          )
        VALUES (
                #{title},
                #{content},
                #{categoryId},
                #{type},
                #{userId}
                )
    </insert>

    <!-- 게시글에 필요한 정보들을 조회 -->
    <select id="getFreeBoard" resultType="BoardDto">
        SELECT b.board_id,
               b.title,
               b.content,
               b.views,
               b.user_id,
               b.category_id,
               c.name AS categoryName,
               b.created_at,
               COALESCE(a.name, u.name) AS writer
        FROM board b
            LEFT JOIN category c
                ON c.category_id = b.category_id
            LEFT JOIN admin a
                ON b.admin_id = a.account_id
            LEFT JOIN user u
                ON b.user_id = u.account_id
        WHERE board_id = #{boardId}
    </select>

    <!-- 게시글Id에 해당하는 게시글 수정 -->
    <update id="updateFreeBoard">
        UPDATE board
        SET category_id = #{categoryId},
            title = #{title},
            content = #{content}
        WHERE board_id = #{boardId}
    </update>
</mapper>
