<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div>
    <th:block layout:fragment="content">
        <div th:switch="${type.code}">
            <div th:case="'n'">
                <div th:replace="admin/fragments/searchForm :: common-search-container"></div>
            </div>
            <div th:case="'f'">
                <div th:replace="admin/fragments/searchForm :: common-search-container"></div>
            </div>
            <div th:case="'g'">
                <div th:replace="admin/fragments/searchForm :: common-search-container"></div>
            </div>
            <div th:case="'h'">
            </div>
        </div>
        <div>
            <select>
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>40</option>
                <option>50</option>
            </select>
            <p>개씩 보기</p>

            <p>정렬</p>
            <select>
                <option>등록일시</option>
                <option>분류</option>
                <option>제목</option>
                <option>조회수</option>
            </select>
            <select>
                <option>내림차순</option>
                <option>오름차순</option>
            </select>
            <a th:href="@{/admin/board/{type}
            (type=${#strings.toLowerCase(type)},
            pageNum=${boardSearch.pageNum},
            startDate=${boardSearch.startDate},
            endDate=${boardSearch.endDate},
            category=${boardSearch.category},
            keyword=${boardSearch.keyword})}">
                <button th:if="${type.code != 'h'}">등록</button>
            </a>
        </div>
        <div th:replace="admin/fragments/boardListTable :: boardListTable"></div>
    </th:block>
</div>
</body>
</html>
