<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.9/dayjs.min.js"></script>
</head>
<body>
<div>
    <th:block layout:fragment="content">
        <div th:replace="admin/fragments/searchForm :: common-search-container"></div>
        <div th:replace="admin/fragments/sortOption :: sortOption"></div>
            <a th:href="@{/admin/board/{type}
            (type=${#strings.toLowerCase(type)},
            pageNum=${boardSearch.pageNum},
            pageSize=${boardSearch.pageSize},
            startDate=${boardSearch.startDate},
            endDate=${boardSearch.endDate},
            category=${boardSearch.category},
            keyword=${boardSearch.keyword},
            sortBy=${boardSearch.sortBy},
            sort=${boardSearch.sort})}">
                <button th:if="${type != 'HELP'}">등록</button>
            </a>
        <div th:replace="admin/fragments/boardListTable :: boardListTable"></div>
        <div th:replace="admin/fragments/pagination :: pagination"></div>
    </th:block>
</div>
</body>
</html>
