<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <div th:fragment="boardListTable">
    <table class="boardList">
      <tr>
        <td>번호</td>
        <td th:if="${type != 'help'}">
          분류
        </td>
        <td>제목</td>
        <td>조회수</td>
        <td>등록 일시</td>
        <td>작성자</td>
      </tr>
      <th:block th:if="${type == 'notice' and notificationListDto != null}">
        <tr th:each="notification : ${notificationListDto.boardResponseDtoList}">
          <td></td>
          <td th:text="'알림'"></td>
          <td>
            <a th:text="${notification.title}"></a>
          </td>
          <td th:text="${notification.views}"></td>
          <td th:text="${notification.createdAt}"></td>
          <td th:text="${notification.writer}"></td>
        </tr>
      </th:block>
      <tr th:each="board, iterStat : ${boardListDto.boardResponseDtoList}">
        <td th:text="${boardListDto.totalBoardCount - ((boardSearch.pageNum - 1) * boardSearch.pageSize) - iterStat.count + 1}"></td>
        <td th:if="${type != 'help'}"
            th:text="${board.categoryName}">
        </td>
        <td>
          <a th:text="${board.title}"></a>
        </td>
        <td th:text="${board.views}"></td>
        <td th:text="${board.createdAt}"></td>
        <td th:text="${board.writer}"></td>
      </tr>
    </table>
  </div>

</html>
