<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <div th:fragment="boardListTable">
    <table class="boardList">
      <tr>
        <td>번호</td>
        <td th:if="${type.code != 'h'}">
          분류
        </td>
        <td>제목</td>
        <td>조회수</td>
        <td>등록 일시</td>
        <td>작성자</td>
      </tr>
      <th:block th:if="${type.code == 'n' and notificationListDto != null}">
        <tr th:each="notification : ${notificationListDto.boardResponseDtoList}">
          <td></td>
          <td th:text="'알림'"></td>
          <td>
            <a th:href="@{/admin/boards/{type}/{boardId}
            (type=${#strings.toLowerCase(type)},
            boardId=${notification.boardId},
            pageNum=${boardSearch.pageNum},
            startDate=${boardSearch.startDate},
            endDate=${boardSearch.endDate},
            category=${boardSearch.category},
            keyword=${boardSearch.keyword})}" style="text-decoration:none;" th:text="${notification.title}"></a>
          </td>
          <td th:text="${notification.views}"></td>
          <td th:text="${notification.createdAt}"></td>
          <td th:text="${notification.writer}"></td>
        </tr>
      </th:block>
      <tr th:each="board, iterStat : ${boardListDto.boardResponseDtoList}">
        <td th:text="${boardListDto.totalBoardCount - ((boardSearch.pageNum - 1) * boardSearch.pageSize) - iterStat.count + 1}"></td>
        <td th:if="${type.code != 'h'}"
            th:text="${board.categoryName}">
        </td>
        <td>
          <img th:if="${board.thumbnailName}"
               th:src="@{'/thumbnails/' + ${board.thumbnailName}}"
               alt="thumbnail">
            <span th:if="${type.code == 'g'}" th:text="'+' + ${board.imageCount}"></span>
          <a th:href="@{/admin/boards/{type}/{boardId}
           (type=${#strings.toLowerCase(type)},
           boardId=${board.boardId},
           pageNum=${boardSearch.pageNum},
           startDate=${boardSearch.startDate},
           endDate=${boardSearch.endDate},
           category=${boardSearch.category},
           keyword=${boardSearch.keyword})}" style="text-decoration:none;">
            <span th:text="${board.title}"></span>
            <span th:if="${type.code == 'h' && board.answer != null}">(답변완료)</span>
            <span th:if="${type.code == 'h' && board.answer == null}">(미답변)</span>
            <span th:if="${type.code == 'h' && board.secretFlag}" class="fas fa-lock"></span>
            <span th:if="${type.code == 'f'}" th:text="'(' + ${board.commentCount} + ')'"></span>
            <span th:if="${type.code == 'f' && board.isAttached}" class="fas fa-paperclip"></span>
          </a>
        </td>
        <td th:text="${board.views}"></td>
        <td th:text="${board.createdAt}"></td>
        <td th:text="${board.writer}"></td>
      </tr>
    </table>
  </div>

</html>
