<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fileRow" th:if="${type.code == 'f' or type.code == 'g'}">
    <table>
        <tr>
            <td>첨부</td>
            <td>
                <input type="file" name="files" style="display: none;">
                <table id="fileInputTable">
                    <tbody>
                    <tr th:each="file : ${fileDtoList}">
                        <td>
                            <img th:if="${file.thumbnailName}"
                                 th:src="@{'/thumbnails/' + ${file.thumbnailName}}"
                                 alt="thumbnail">
                            <a th:id="'downloadTag_' + ${file.fileId}"
                               th:href="@{/admin/files/{fileId}(fileId=${file.fileId})}">
                                <p th:text="${file.originalName}"></p>
                            </a>
                        </td>
                        <td>
                            <button type="button"
                                    th:id="'removeFileButton_' + ${file.fileId}"
                                    th:onclick="'removeFile(' + ${file.fileId} + ')'">
                                X
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" onclick="addFileInput()">추가</button>
            </td>
        </tr>
    </table>

    <script th:inline="javascript">
        let fileCount = [[${fileDtoList.size()}]];

        let type = [[${type.code}]];

        let MAX_FILES = 5;

        if (type == 'g') {
            MAX_FILES = 20;
        }

        // File Input을 추가하는 메서드
        function addFileInput() {
            if (fileCount >= MAX_FILES) {
                alert('최대' + (MAX_FILES) + '개까지만 첨부 가능합니다.');
                return;
            }

            var fileInputTable = document.getElementById('fileInputTable');

            var newRow = document.createElement('tr');

            var inputCell = document.createElement('td');

            var inputField = document.createElement('input');
            inputField.setAttribute('type', 'file');
            inputField.setAttribute('name', 'files');
            inputField.setAttribute('id', 'fileInput_' + fileCount);

            if (type == 'g') {
                inputField.setAttribute('accept', '.jpg, .jpeg, .gif, .png');
                inputField.setAttribute('onchange', 'showThumbnail(' + fileCount + ')');

                var thumbnailImg = document.createElement('img');
                thumbnailImg.setAttribute('id', 'thumbnailImg_' + fileCount);
                thumbnailImg.style.width = '30px';
                thumbnailImg.style.height = '30px';

                inputCell.appendChild(thumbnailImg);
            } else {
                inputField.setAttribute('accept', '.jpg, .jpeg, .gif, .png, .zip');
            }

            // tr을 없애는 버튼 생성
            var removeButton = document.createElement('button');
            removeButton.setAttribute('type', 'button');
            removeButton.innerText = 'X';

            removeButton.addEventListener('click', function () {
                fileInputTable.removeChild(newRow);
                fileCount--;
            });

            inputCell.appendChild(inputField);
            inputCell.appendChild(removeButton);

            newRow.appendChild(inputCell);

            fileInputTable.appendChild(newRow);

            fileCount++;
        }

        // 파일을 삭제하는 메서드
        function removeFile(fileId) {
            // <a> 태그가 속한 tr제거
            var downloadTag = document.getElementById('downloadTag_' + fileId);

            if (downloadTag) {
                var tr = downloadTag.closest('tr');

                if (tr) {
                    tr.remove();
                }
            }

            fileCount--;

            // 숨겨진 input 필드에 값을 추가하여 서버로 전달
            var deleteFileIdInput = document.createElement('input');

            deleteFileIdInput.setAttribute('type', 'hidden');
            deleteFileIdInput.setAttribute('name', 'deleteFileIdList');
            deleteFileIdInput.setAttribute('value', fileId);

            document.getElementById('fileInputTable').appendChild(deleteFileIdInput);
        }

        // 썸네일을 보여주는 메서드
        function showThumbnail(fileIndex) {
            const fileInput = document.getElementById('fileInput_' + fileIndex);

            const thumbnailImg = document.getElementById('thumbnailImg_' + fileIndex);
            thumbnailImg.innerHTML = '';

            const file = fileInput.files[0];

            const imageTypes = ['image/jpeg', 'image/gif', 'image/png'];

            if (file && imageTypes.includes(file.type)) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    thumbnailImg.src = e.target.result;
                };

                reader.readAsDataURL(file);
            }
        }
    </script>
</div>

</html>
