<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="common-search-container" class="border p-4">
    <form th:action="@{'/admin/boards/' + ${#strings.toLowerCase(type)}}"
          method="get" class="row g-3 align-items-center">
        <div class="col-md-1">
            등록일시
        </div>
        <div class="col-md-2">
            <input type="hidden" name="pageSize"
                   th:value="${boardSearch.pageSize}">
            <input type="date" id="startDate" name="startDate"
                   th:value="${param.startDate}" class="form-control">
        </div>
        <div class="col-md-2">
            <input type="date" id="endDate" name="endDate"
                   th:value="${param.endDate}" class="form-control">
        </div>
        <div class="col-md-2 d-flex justify-content-center">
            <select th:if="${type!= 'HELP'}" name="category"
                    class="form-control">
                <option value="all">전체 카테고리</option>
                <option th:each="category : ${categoryList}"
                        th:value="${category.categoryId}"
                        th:selected="${category.categoryId} == ${boardSearch.category}"
                        th:text="${category.name}"></option>
            </select>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" name="keyword"
                       th:placeholder="${type == 'NOTICE' ? '제목 or 내용' :
                   (type == 'HELP' ? '제목 or 내용 or 등록자' : '제목 or 내용 or 작성자')}"
                       th:value="${param.keyword}" class="form-control">
                    <input type="hidden" name="sortBy" th:value="${boardSearch.sortBy}">
                    <input type="hidden" name="sort" th:value="${boardSearch.sort}">
            </div>
        </div>
        <div class="col-md-1 text-right">
            <button type="submit" class="btn btn-primary text-end">검색</button>
        </div>
    </form>
</div>
</html>
