<!DOCTYPE html>
<html lang="en">

<html>
<div th:fragment="sortOption" class="mt-4">
    <div class="row g-3 d-flex justify-content-between">
        <div class="col-md-9 mb-4">
            <select id="pageSize" class="form-select me-2">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
        </div>
        <div class="col-md-3 mb-4 text-right">
            <label for="sortBy" class="form-label ms-2">정렬</label>
            <select id="sortBy" class="form-select ms-2">
                <option value="createdAt">등록일시</option>
                <option th:if="${type} != 'HELP'" value="category">분류</option>
                <option value="title">제목</option>
                <option value="views">조회수</option>
            </select>
            <select id="sortOrder" class="form-select">
                <option value="desc">내림차순</option>
                <option value="asc">오름차순</option>
            </select>
        </div>
        <script>

            const currentUrl = window.location.href.split('?')[0];

            const pageSizeSelect = document.getElementById('pageSize');

            const sortBySelect = document.getElementById('sortBy');

            const sortOrderSelect = document.getElementById('sortOrder');

            // URL 매개변수에서 값을 가져와 선택 상태로 설정
            const urlParams = new URLSearchParams(window.location.search);

            pageSizeSelect.value = urlParams.get('pageSize') || 10;

            sortBySelect.value = urlParams.get('sortBy') || 'createdAt';

            sortOrderSelect.value = urlParams.get('sort') || 'desc';

            pageSizeSelect.addEventListener('change', applySearch);

            sortBySelect.addEventListener('change', applySearch);

            sortOrderSelect.addEventListener('change', applySearch);

            function nullToEmptyString(value) {
                return value == null ? '' : value;
            }

            function applySearch() {
                const pageSize = pageSizeSelect.value;

                const sortBy = sortBySelect.value;

                const sortOrder = sortOrderSelect.value;

                const startDate = nullToEmptyString("[[${boardSearch.startDate}]]");

                const endDate = nullToEmptyString("[[${boardSearch.endDate}]]");

                const category = nullToEmptyString("[[${boardSearch.category}]]");

                const keyword = nullToEmptyString("[[${boardSearch.keyword}]]");

                let linkTemplate = currentUrl +
                    "?pageNum=1" +
                    "&startDate=" + encodeURIComponent(startDate) +
                    "&endDate=" + encodeURIComponent(endDate) +
                    "&category=" + encodeURIComponent(category) +
                    "&keyword=" + encodeURIComponent(keyword);

                linkTemplate +=
                    "&pageSize=" + pageSize +
                    "&sortBy=" + sortBy +
                    "&sort=" + sortOrder;

                window.location.href = linkTemplate;
            }
        </script>
    </div>
</div>
</html>

