<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="writeForm">
    <form id="writeForm" th:object="${boardRequestDto}"
          enctype="multipart/form-data" method="post">
        <table>
            <tr>
                <td>분류</td>
                <td>
                    <select name="categoryId" th:field="*{categoryId}">
                        <option value="all">카테고리 선택</option>
                        <option th:each="category : ${categoryList}"
                                th:value="${category.categoryId}"
                                th:text="${category.name}"
                                th:selected="${category.categoryId == boardRequestDto.categoryId}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>제목</td>
                <td>
                    <textarea rows="1" cols="60" name="title"
                              th:value="*{title}"
                              th:field="*{title}"></textarea>
                </td>
            </tr>
            <tr>
                <td>내용</td>
                <td>
                    <textarea rows="10" cols="60" name="content"
                              th:value="*{title}"
                              th:field="*{content}"></textarea>
                </td>
            </tr>
            <tr th:if="${type.code == 'n'}">
                <td>알림글</td>
                <td>
                    <input type="checkbox"
                           name="notificationFlag"
                           th:field="${boardRequestDto.notificationFlag}"
                           th:checked="${boardRequestDto.notificationFlag == 1}">
                </td>
            </tr>

            <!-- 파일 부분 -->
            <th:block
                    th:replace="admin/fragments/fileRow :: fileRow"></th:block>
        </table>
    </form>

    <!-- 댓글 부분 -->
    <th:block
            th:replace="admin/fragments/commentForm :: commentForm"></th:block>

    <div>
        <button type="submit" form="writeForm">등록 / 수정</button>
        <a th:href="@{/admin/boards/{type}/
            (type=${#strings.toLowerCase(type)},
            pageNum=${boardSearch.pageNum},
            startDate=${boardSearch.startDate},
            endDate=${boardSearch.endDate},
            category=${boardSearch.category},
            keyword=${boardSearch.keyword})}">
            <button>목록</button>
        </a>
        <a>
            <button>삭제</button>
        </a>
    </div>
</div>

<script th:inline="javascript">
    function setFormAction() {
        var form = document.getElementById('writeForm');

        var boardId = null;

        boardId = [[${boardRequestDto.boardId}]];

        var type = Strings.toLowerCase([[${type}]]);

        var actionUrl;

        if (boardId) {
            actionUrl = '/admin/boards/' + type + '/' + boardId
        } else {
            actionUrl = '/admin/board/' + type
        }

        form.action = actionUrl;
    }

    document.addEventListener('DOMContentLoaded', setFormAction);
</script>

</html>
