<!DOCTYPE html>
<html lang="en">

<div th:fragment="writeForm">
    <form id="writeForm" th:object="${boardRequestDto}" enctype="multipart/form-data" method="post">
        <table>
            <tr>
                <td>분류</td>
                <td>
                    <select name="categoryId" th:field="*{categoryId}">
                        <option value="all">카테고리 선택</option>
                        <option th:each="category : ${categoryList}"
                                th:value="${category.categoryId}"
                                th:text="${category.name}"
                                th:selected="${category.categoryId == boardRequestDto.categoryId}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>제목</td>
                <td>
                    <textarea rows="1" cols="60" name="title"
                              th:value="*{title}"
                              th:field="*{title}"></textarea>
                </td>
            </tr>
            <tr>
                <td>내용</td>
                <td>
                    <textarea rows="10" cols="60" name="content"
                              th:value="*{title}"
                              th:field="*{content}"></textarea>
                </td>
            </tr>
            <tr th:if="${type.code == 'n'}">
                <td>알림글</td>
                <td>
                    <input type="checkbox"
                           name="notificationFlag"
                           th:field="${boardRequestDto.notificationFlag}"
                           th:checked="${boardRequestDto.notificationFlag == 1}">
                </td>
            </tr>
            <tr th:if="${type.code == 'f' and fileDtoList == null}">
                <input type="file" name="files">
                <input type="file" name="files">
                <input type="file" name="files">
                <input type="file" name="files">
                <input type="file" name="files">
            </tr>
            <tr th:if="${type.code == 'f' and fileDtoList != null}">
                <tbody>
                <!-- 기존의 파일 행 -->
                <tr th:each="file : ${fileDtoList}">
                    <td>
                        <a th:href="@{/admin/board/free/file/{fileId}(fileId=${file.fileId})}">
                            <p th:text="${file.originalName}"></p>
                        </a>
                    </td>
                    <td>
                        삭제<input type="checkbox" name="deleteFileIdList"
                                 th:value="${file.fileId}">
                    </td>
                </tr>
                <!-- 추가 입력란 -->
                <tr th:each="i : ${#numbers.sequence(fileDtoList.size(), 4)}" th:unless="${fileDtoList.size() >= 5}">
                    <td>
                        <input type="file" name="files" accept=".jpg, .jpeg, .gif, .png, .zip">
                    </td>
                </tr>
                </tbody>
            </tr>
        </table>
        <button>등록 / 수정</button>
    </form>
</div>

<script th:inline="javascript">
    function setFormAction() {
        var form = document.getElementById('writeForm');

        var boardId = null;

        boardId = [[${boardRequestDto.boardId}]];

        var type = Strings.toLowerCase([[${type}]]);

        var actionUrl;

        if (boardId) {
            actionUrl = '/admin/board/' + type + '/' + boardId
        } else {
            actionUrl = '/admin/board/' + type
        }

        form.action = actionUrl;
    }

    document.addEventListener('DOMContentLoaded', setFormAction);
</script>

</html>
